.menuItem__wrapper {
  list-style: none;
  margin: 0 ;
  display: flex;
  align-items: center;
  padding: 30px;
}
.menuItem__image {
  flex-shrink: 0;
  object-fit: cover;
  margin-right: 30px;
  width: 150px;
  height: 150px;
  border-radius: 50%;
}
.menuItem__title {
  color: #6e774a;
  margin-bottom: 10px;
  line-height: 1.1;
}
.menuItem__dots {
  color: black;
  font-size: 1rem;
}
.menuItem__price {
  color: #4a5777;
  font-weight: 700;
  font-size: 1.4rem;
}
.menuItem__ingredients {
  margin-top: 5px;
}
