{
  "extends": [
    "airbnb",
    "prettier",
    "prettier/react"
  ],
  "env": {
    "jest": true
  },
  "globals": {
    "document": true
  },
  "rules": {
    "react/jsx-filename-extension": [
      1,
      {
        "extensions": [
          ".js"
        ]
      }
    ],
    "react/jsx-props-no-spreading": [
      {
        "html": "ignore",
        "custom": "ignore",
        "explicitSpread": "ignore"
      }
    ]
  }
}