.radio {
  position: relative;
  display: inline-flex;
  align-items: center;
  margin: 20px 20px 0 0;
  font-weight: 700;
  color: #6e774a;
  cursor: pointer;
  
  input {
    opacity: 0;
    position: absolute;
  }
  
  &Button {
    margin-right: 5px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 2px solid #6e774a;
  }
  
  input:checked + &Button {
    background-color: #a8b15b;
    box-shadow: inset 0 0 0 2px white;
  }
}
