.wrapper {
  width: 80vw;
  margin: 0 auto 0;
  padding-left: 0;
  padding-top: 150px;
  position: relative;
  z-index: 10;
  @media (max-width: 450px) {
    width: 95vw;
  }
  &__gallery {
    display: flex;
    flex-wrap: wrap;
    .listWrapper {
      display: flex;
      min-width: 33.3%;
      padding: 15px;
      flex-direction: column;
      flex-grow: 1;
      flex-basis: 0;
      @media (max-width: 768px) {
        min-width: 50%;
      }
      @media (max-width: 400px) {
        min-width: 100%;
      }
    }
  }
}
.noItems {
  padding-top: 150px;
  margin-top: 0;
  position: relative;
  z-index: 10;
  font-size: 1.3rem;
  color: #4a5777;
  font-weight: normal;
  text-align: center;
}
