.wrapper {
  position: absolute;
  width: 100%;
  display: grid;
  grid-template-columns: 150px 1fr 100px;
  align-items: center;
  padding: 30px 40px;
  @media (max-width: 768px) {
    grid-template-columns: 80px 1fr 100px;
  }
  @media (max-width: 400px) {
    padding: 10px;
    ul {
      padding-left: 25px;
    }
  }
  button {
    font-size: 0.8rem;
  }
}
.logo {
  max-width: 85px;
}
