.navItem {
  position: relative;
  z-index: 100;
  display: inline-block;
  margin-right: 50px;
  list-style: none;
  &Link {
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    transition: all .2s ease;
    &Active {
      color: #a8b15b;
    }
    &:hover {
      color: #a8b15b;
    }
  }
}